.c{
    height: 100vh;
    position: relative;
}

.c-bg{
  width: 30px;
  height: 100vh;
  background-color: #065E60;
  position: absolute;
}

.c-bg2{
  width: 20px;
  height: 100vh;
  background-color: #0A9396;
  position: absolute;
}

.c-wrapper{
    padding: 50px;
    display: flex;
}

.c-left{
    flex: 1;
}

.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title{
    display: flex;
    align-items: center;
    font-size: 70px;
    width: 100%;
}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0px;
    font-weight: 500;
    width: 70%;
}

.c-icon{
    width: 30px;
    height: 30px;
    margin: 20px;
}

.c-description{
    font-weight: 200;
}


form {
  margin-top: 20px;
}

input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #065E60;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #0A9396;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.thanks{
  font-size: 20px;
  font-weight: 300;
  animation: color-change 3s infinite;
}

@keyframes color-change {
    0% {  color: red  }
    50% { color: green; }
    100% {  color: blue;  }
}

@media screen and (max-width: 480px) {
  .c-wrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .c-title {
    font-size: 30px;
  }

  .c-info-item {
    margin: 20px 0px;
    width: 100%;
  }

  .c-desc {
    display: none;
  }

  form {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 35%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-top: 10px;
  }
}